:root {
  --primary-white-color: #ffffff;
  --primary-text-color: #212121;
  --accent-color: #2196f3;
}

.body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}
.heder {
  font-size: 16px;
  line-height: 2;
  text-align: left;
  color: rgb(117, 117, 117);
  display: none;
}
.link.current {
  color: var(--accent-color);
}
.heder:hover,
.heder:focus {
  color: #2196f3;
}

.logo {
  font-family: "Raleway";
  font-style: Bold;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--primary-text-color);
}
.logo-footer {
  font-family: "Raleway";
  font-style: Bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--primary-white-color);
}
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contacts-link-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.link {
  text-decoration: none;
}
.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: var(--primary-text-color);
}
.button-blue-hero {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.button-blue-hero:hover,
.button-blue-hero:focus {
  color: var(--accent-color);
}
.button-blue {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}
.button-blue:hover,
.button-blue:focus {
  color: var(--accent-color);
}
.button {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}
.logo-style-first {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-style-second {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
.title-image {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.heder-link:hover,
.heder-link:focus {
  color: var(--accent-color);
}
.heder-item:hover,
.heder-item:focus {
  color: var(--accent-color);
}
.heder-link:active {
  color: var(--accent-color);
}
.heder-item:active {
  color: var(--accent-color);
}

.heder-link,
.hero-link,
.list,
.footer-link,
.link {
  list-style: none;
}
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}
.hero-item:hover,
.hero-item:focus {
  color: var(--accent-color);
}
.button:hover,
.button:focus {
  color: var(--accent-color);
}
.site-item:hover,
.site-item:focus {
  color: var(--accent-color);
}
.design-item:hover,
.design-item:focus {
  color: var(--accent-color);
}
.application-item:hover,
.application-item:focus {
  color: var(--accent-color);
}
.marketing-item:hover,
.marketing-item:focus {
  color: var(--accent-color);
}
.footer {
  background: var(--primary-text-color);
}
.footer-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.footer-link:hover {
  color: var(--accent-color);
}
.footer-link:focus {
  color: var(--accent-color);
}
.footer-item:hover {
  color: var(--accent-color);
}
.footer-item:focus {
  color: var(--accent-color);
}
.post-title {
  font-weight: 700;
  font-style: bold;
  font-size: 18px;
  line-height: 2;
}
.site-item,
.application-item,
.marketing-item,
.design-item {
  font-size: 16px;
  line-height: 2;
  color: #757575;
}
.button,
.hero-item {
  cursor: pointer;
}
