:root {
  --primary-white-color: #ffffff;
  --primary-text-color: #212121;
  --accent-color: #2196f3;
}
.body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}
.section {
  padding-top: 94px;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
.button {
  cursor: pointer;
}
.img {
  display: block;
  max-width: 100%;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}
.container-header {
  display: flex;
}
.header {
  font-size: 16px;
  line-height: 2;
  text-align: center;
  color: rgb(117, 117, 117);
  border-bottom: 1px solid #ececec;
}

.site-nav1 {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav2 {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;
}
.logo {
  display: block;
  font-family: "Raleway";
  font-style: Bold;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--primary-text-color);
  text-align: left;
  margin-right: 93px;
  padding-top: 24px;
}

.header-link {
  display: block;
}
.header-item {
  display: block;
}

.link {
  text-decoration: none;
}

.hero-section {
  background: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero {
  max-width: 1600px;
  display: inline-block;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  padding-bottom: 30px;
}

.button-blue-hero {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
}
.list-text {
  display: block;
  width: 270px;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-right: 30px;
}

.list-text:nth-child(4n) {
  margin-right: 0;
  margin-bottom: 0;
}
.list {
  display: block;
  width: 370px;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-right: 30px;
}
.list:nth-child(3n) {
  margin-right: 0;
}
.list-image {
  display: block;
  width: 370px;
  justify-content: space-between;
  margin-right: 30px;
}
.list-image:nth-child(3n) {
  margin-right: 0;
}

.list-teem {
  display: block;
  width: 370px;
  justify-content: space-between;
  border: 1px solid #ececec;
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
}
.list-teem:nth-child(4n) {
  margin-right: 0;
}
.container-elements {
  display: block;
  border: 1px solid #ececec;
  border-top: none;
  padding: 20px 24px 20px 24px;
}

.link.current {
  color: var(--accent-color);
}
.header:hover,
.header:focus {
  color: #2196f3;
}

.logo-footer {
  font-family: "Raleway";
  font-style: Bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--primary-white-color);
  display: block;
}
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: block;
  text-align: right;
  margin-left: 50px;
}
.contacts-link:nth-last-child(-2n) {
  margin-left: 0;
}

.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: block;
  margin-right: 50px;
}
.contacts:nth-child(2n) {
  margin-right: 0;
}

.contacts-link-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
}

.button-blue-hero:hover,
.button-blue-hero:focus {
  color: var(--accent-color);
}
.button-blue {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 6px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.button-blue:hover,
.button-blue:focus {
  color: var(--accent-color);
}
.button {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 6px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.logo-style-first {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-style-second {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.title-text {
  display: flex;
  margin-right: -30px;
  margin-bottom: -30px;
}
.title {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text {
  display: block;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
.title-image {
  display: block;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.container-img {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}
.img {
  display: block;
  margin-right: 30px;
}
.img:nth-child(3n) {
  margin-right: 0;
}
.container-image {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}
.image {
  display: block;
  margin-right: 30px;
}
.image:last-child {
  margin-right: 0;
}

.name {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.profession {
  display: block;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  padding-bottom: 30px;
}
.container-teem {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: -30px;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-item:hover,
.header-item:focus {
  color: var(--accent-color);
}
.header-link:active {
  color: var(--accent-color);
}
.header-item:active {
  color: var(--accent-color);
}

.hero-button {
  display: flex;
  justify-content: center;
  padding-bottom: 56px;
}
.hero-link {
  display: block;
  margin-right: 8px;
  align-items: center;
}
.hero-link:nth-child(5n) {
  margin-right: 0;
}

.header-link,
.hero-link,
.list,
.footer-link,
.link {
  list-style: none;
}
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}
.hero-item:hover,
.hero-item:focus {
  color: var(--accent-color);
}
.button:hover,
.button:focus {
  color: var(--accent-color);
}
.site-item:hover,
.site-item:focus {
  color: var(--accent-color);
}
.design-item:hover,
.design-item:focus {
  color: var(--accent-color);
}
.application-item:hover,
.application-item:focus {
  color: var(--accent-color);
}
.marketing-item:hover,
.marketing-item:focus {
  color: var(--accent-color);
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-adress {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.logo-footer {
  margin-bottom: 20px;
}
.footer-item {
  display: block;
  margin-bottom: 9px;
}
.footer-link {
  display: block;
  margin-bottom: 9px;
}
.footer-link:hover {
  color: var(--accent-color);
}
.footer-link:focus {
  color: var(--accent-color);
}
.footer-item:hover {
  color: var(--accent-color);
}
.footer-item:focus {
  color: var(--accent-color);
}
.post-title {
  font-weight: 700;
  font-style: bold;
  font-size: 18px;
  line-height: 2;
}
.site-item,
.application-item,
.marketing-item,
.design-item {
  font-size: 16px;
  line-height: 2;
  color: #757575;
}
.button,
.hero-item {
  cursor: pointer;
}
.header-portfolio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
